main.light,
:root {
    --color-background: white;
    --color-on-background: black;
    --color-background-hover: #eee;
    --color-on-background-hover: black;
    --color-primary: #ff0000;
    --color-on-primary: white;
    --color-error: #de0000;
    --color-on-error: white;
}

main.dark,
header.dark {
    color-scheme: dark;
    --color-background: #1c1b1f;
    --color-on-background: white;
    --color-background-hover: #27262c;
    --color-on-background-hover: white;
    --color-primary: #6e1515;
    --color-primary: #4150d4;
    --color-primary-disabled: #1f213c;
    --color-on-primary: white;
    --color-error: #de0000;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

header,
main {
    background-color: var(--color-background);
    color: var(--color-on-background);
    display: grid;
    grid-template-columns: minmax(16rem, 1fr) minmax(16rem, 2fr) minmax(
            16em,
            1fr
        );
    column-gap: 2rem;
}

header {
    display: flex;
    padding-inline: calc(25vw - 10rem);
    height: 4rem;
    background-color: var(--color-primary);
    color: var(--color-on-primary);
}
@media screen and (min-width: 1366px) {
    header {
        display: grid;
        padding-inline: 0;
    }
}
header .logo, .title {
    justify-self: left;
    transform: translateX(40px);
    align-self: center;
    display: flex;
    align-items: flex-end;
    gap: 1rem;
}
header .nav {
    flex: 1;
    align-self: center;
}

main {
    height: 0;
    flex: 1;
    display: grid;
    grid-template-rows: minmax(0, 1fr);
    column-gap: 2rem;
}
main > div {
    overflow-y: auto;
}

.spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 3;
}

input[type="checkbox"] {
    height: 1.25rem;
    width: 1.25rem;
    cursor: pointer;
    margin: 0;
}
.listbtn, .packsbtn, .leaderboardbtn, .roulettebtn {
    padding-top: 4px;
    border-bottom: 4px solid transparent;
    display: flex;
    align-items: center;
    padding-inline: 0.5rem;
  }

.selectedbtn {
    border-bottom: 4px solid white;
    transition: border-bottom 0.5s ease-in-out;
    outline: none;
  }
  .listbtn:hover, .packsbtn:hover, .leaderboardbtn:hover, .roulettebtn:hover {
    border-bottom: 4px solid white;
    transition: border-bottom 0.5s ease-in-out;
    outline: none;
  }